* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header10 {
  width: 80px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #00e1ff;
  font-family: Arial, sans-serif;
}


.navbar ul  {
  display: flex;
  margin: 0 15px;
}

.navbar  li {
  list-style: none;
} 

.navbar  li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  margin: 0 10px;
  transition: color 0.3s ease;
  padding: 10PX;
  border-radius: 20PX;
  border: 2px solid #3956fc;
}

.navbar  li a:hover {
  background-color: #3956fc;
  color: white;
  box-shadow: 0px 0px 20px  rgb(255, 255, 255);
}
.search-bar {
  padding: 15px 100px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.search-bar:focus {  
  outline: none;
 
  border: 2px solid #3956fc;
  box-shadow: 0 0 30px rgb(173, 173, 173);
}